/袅袅朗诵文件生成.rar
/袅袅朗诵文件生成
/niaoniaofile/obj
/niaoniaofile/bin/Debug/output
/.vs
/niaoniaofile/bin/Debug/niaoniaofile.vshost.exe.manifest
/niaoniaofile/bin/Debug/SpeechSynthesizer.vshost.exe.manifest
/niaoniaofile/bin/Debug/JiebaNet.Segmenter.pdb
/niaoniaofile/bin/Debug/mySpeechSynthesizer.pdb
/niaoniaofile/bin/Debug/SpeechSynthesizer.pdb
/niaoniaofile/bin/Debug/SpeechSynthesizer.v12.suo
/niaoniaofile/bin/Debug/niaoniaofile.vshost.exe.config
/niaoniaofile/bin/Debug/SingerReader.vshost.exe.config
/niaoniaofile/bin/Debug/SpeechSynthesizer.exe.config
/niaoniaofile/bin/Debug/SpeechSynthesizer.vshost.exe.config
/niaoniaofile/bin/Debug/ChnCharInfo.xml
/niaoniaofile/bin/Debug/Newtonsoft.Json.xml
/niaoniaofile/bin/Debug/SpeechSynthesizer.exe
/niaoniaofile/bin/Debug/SpeechSynthesizer.vshost.exe
/niaoniaofile/bin/Debug/ChnCharInfo.dll
/niaoniaofile/bin/Debug/JiebaNet.Segmenter.dll
/niaoniaofile/bin/Debug/Microsoft.Speech.dll
/niaoniaofile/bin/Debug/mySpeechSynthesizer.dll
/niaoniaofile/bin/Debug/Newtonsoft.Json.dll
/歌姬朗读文件生成v1.2.rar
/袅袅朗读文件生成v1.11.rar
/niaoniaofile/bin/Debug/tmp_talking
/niaoniaofile/bin/Debug
/niaoniaofile/bin/Release
